{
    "extends": ["airbnb"],
    "parser": "@babel/eslint-parser",
    "env": {
      "browser": true,
      "node": true,
      "jest": true
    },
    "parserOptions": {
        "requireConfigFile": false,
        "babelOptions": {
            "babelrc": false,
            "configFile": false
        }
    },
    "overrides": [{
        "files": [
          "src/*.js", 
          "src/*.jsx"
        ]
      }]
  }
  