$base-wrapper-height: 350;

.root {
  width: 500px;
  height: $base-wrapper-height + px;
  background-color: rgba(128, 128, 128, 0.4);
  display: flex;
  flex-direction: column;
}

.body {
  position: relative;
  flex-grow: 1;
  height: $base-wrapper-height - 38.5 + px;
  overflow: auto;
}

.footer {
  margin-top: auto;
  flex-shrink: 0;
}